* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  outline: none;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #ecdaff;
  padding: 1%;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

input {
  grid-column: span 4;
  height: 90px;
  width: 250px;
  background-color: #ecdaff;
  border: none;
  border-radius: 20px;
  color: rgb(70, 70, 70);
  text-align: right;
  font-size: 20px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 20px;
  background-color: #ecdaff;
  font-size: 16px;
}
.equal{

}